body{
    font-family: 'ninito';
    margin: 0;
}
:root{
    --white:#ffffff;
    --black :#000000;
    --purple :#6f2cff;
    --ligth-puple:#efe9f9;
    --red-hearth:#a50954;
    --blue-hearth:#acd9b2;
    --sm:14px;
    --md:18px;
    --lg:60px;
}