body{
    background-color: #fed8aa;
}
h1{
    color: rgb(#d449bd)
}
    h2{color:#b2bcc0
    }
   

.enviar{
    border-radius: 5px; 
     background-color: #6ded74;
    color: #272625;

}
.etiqueta{
    background-color: blue;
}
.form{
    

}